@font-face {font-family: 'oct';src: url('FONT/2868F6_0_0.eot');src: url('webfonts/2868F6_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2868F6_0_0.woff') format('woff'),url('webfonts/2868F6_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'oct';src: url('FONT/2868F6_1_0.eot');src: url('webfonts/2868F6_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2868F6_1_0.woff') format('woff'),url('webfonts/2868F6_1_0.ttf') format('truetype');}
