
body,
html {
  height: 1024px;
  width: 1280px;
}
body {
  background-image: -webkit-linear-gradient(15deg, #EDEDED, #7D7D7D);
  width: 1280px;
  height: 1024px;
  overflow: hidden;
  display: inline;
}


/* Main Page Sections */
#header {
  font-family: uni;
  font-size:3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:15px;
  text-align:center;
  border-bottom: 4px solid black;
}

#content {
  font-family: uni;
  font-size:2em;
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align:center;
  border: 4px solid black;
}

#footer {
  font-family: uni;
  font-size:3em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:15px;
  text-align:center;
}


/* Photos */
.photoFrame {
  width: 285px;
  height: 300px;
  background-color:grey;
  border: 3px solid white;
  margin-left: 37px;
  margin-top: 65px;
  margin-right: 0px;
  margin-bottom: 0px;
  float: left;
}

.photoImg {
  width: 260px;
  height: 230px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  background-color:black;
  border: 3px solid white;
}


/* Buttons */
.stdButton {
  height:50px;
  width:200px;
  margin:20px;
  font-size:0.4em;
  -webkit-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 9px 3px rgba(0,0,0,0.75);
}