@font-face {
  font-family: uni;
  src: url('../FONT/univers_65_bold-webfont.svg') format('svg');
  font-style: normal;
}
@font-face {
  font-family: uni_con;
  src: url('../FONT/univers_condensed_medium-webfont.svg') format('svg');
  font-style: normal;
}