
@font-face {
    font-family: 'timesNGL';
    src: url('../FONT/times-webfont.eot');
    src: url('../FONT/times-webfont.eot?#iefix') format('embedded-opentype'),
         url('../FONT/times-webfont.woff') format('woff'),
         url('../FONT/times-webfont.ttf') format('truetype'),
         url('../FONT/times-webfont.svg#timesregular') format('svg');
    font-weight: bolder;
    font-style: oblique;
}

body,
html {
  height: 1280px;
  width: 1024px;
}
body {
  width: 1024px;
  height: 1280px;
  overflow: hidden;
  margin:0px;
  padding:0px;
  display: inline-block;
  background-color: black;
}

/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
	height: 1280px;
	width: 1024px;
    background-color: white;
    opacity:0;
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    z-index: 10000;
}

.popup-interior {
	font-family:"timesNGL";
    background-color:rgb(197,177,151);
    font-size:0.9em;
    border:1px solid rgba(90,45,19,1);
    display:inline-block;
    padding:10px;
    text-align:center;
    color:rgba(68,45,13,1);
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgba(68,45,13,1);
    
    -webkit-box-shadow: inset 0px 0px 10px 0px     rgba(90,45,19,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(90,45,19,1);
    box-shadow: inset 0px 0px 10px 0px rgba(90,45,19,1);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.popup-interior.selected {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color:rgba(68,45,13,1);
	color:#DAA520;
}

.popup-exterior {
	margin-top:-20px;
    display:inline-block;
    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:black;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
    background: rgb(234,215,171); /* Old browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.07, rgb(234,215,171)), color-stop(0.07, rgb(234,215,171)), color-stop(0.5, rgb(90,45,19)), color-stop(0.83, rgb(158,115,79)));
	background: -webkit-linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%);
	background: -moz-linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%);
	background: -o-linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%);
	background: linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ead7ab', endColorstr='#9e734f',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: 0px 0px 14px 0px rgba(255,255,186,1);
	-moz-box-shadow: 0px 0px 14px 0px rgba(255,255,186,1);
	box-shadow: 0px 0px 14px 0px rgba(255,255,186,1);
	
		-webkit-transition: all 0.12s ease-in-out;
	    -o-transition: all 0.12s ease-in-out;
	    -moz-transition: all 0.12s ease-in-out;
	    -ms-transition: all 0.12s ease-in-out;
	    -kthtml-transition: all 0.12s ease-in-out;
	    transition: all 0.12s ease-in-out;
}

.popup-exterior.glow {
	-webkit-box-shadow: 0px 0px 55px 0px rgba(255,255,186,1);
	-moz-box-shadow: 0px 0px 55px 0px rgba(255,255,186,1);
	box-shadow: 0px 0px 55px 0px rgba(255,255,186,1);
	
	-webkit-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -ms-transition: all 0.12s ease-in-out;
    -kthtml-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}


/* Main Page Sections */
#contentFrame {
  display: inline-block;
  font-family: uni;
  font-size:2em;
  width: 1024px;
  height: 965px;
  text-align: center;
  background-repeat:none;
  background-image: url('../IMAGES/background_content.png');
}

.content {
  display: inline-block;
  font-family: uni;
  font-size:2em;
  width: 905px;
  height: 850px;
  text-align: center;
  margin:55px;
  padding-top:25px;
  background-color: transparent;
}

.flex-container-wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-item {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.flex-gallery {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-drag {
  width:690px;
  height:315px;
  float:left;
  pointer-events:all;
}

#footer {
  display: inline-block;
  font-family: uni;
  font-size: 3em;
  width: 1024px;
  height:315px;
  text-align: center;
  z-index:0;
  background-repeat:none;
  background-image: url('../IMAGES/background_footer.png');
}

.gallery {
  margin-left:100px;
  margin-top:14px;
  width:590px;
  height:280px; /*270*/
  float:left;
  /*background-image: -webkit-linear-gradient(-65deg, #E6D9B1, #7A7A7A);*/
  background-size:590px 280px;
  background-repeat:none;
  background-image: url('../IMAGES/photoselectordark.png');
}

.gallery.lit {
	background-image: url('../IMAGES/photoselectorlight.png');
}

.gallery.one {
	background-image:url('../IMAGES/pic1.png');
}

.gallery.two {
	background-image:url('../IMAGES/pic2.png');
}

.gallery.three {
	background-image:url('../IMAGES/pic3.png');
}

.gallery.four {
	background-image:url('../IMAGES/pic4.png');
}

.gallery.five {
	background-image:url('../IMAGES/pic5.png');
}

.gallery.six {
	background-image:url('../IMAGES/pic6.png');
}

/* Photos */
.galleryImage {
  width:189px;
  height:124px;
  margin:2px;
  background-color:black;
  color:white;
  opacity:0;
}

.galleryImage.selected {
  color:yellow;
}

.dragFrame {
  width:184px;
  height:184px;
  float:left;
  background-image: -webkit-linear-gradient(-65deg, #E6D9B1, #7A7A7A);
  border:2px solid #360D02;
  opacity:1;
}

.dragAnchor {
	width:200px;
	height:200px;
	position:absolute;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 9px 3px rgba(255,251,100,0.75);
	-moz-box-shadow: 0px 0px 9px 3px rgba(255,251,100,0.75);
	box-shadow: 0px 0px 9px 3px rgba(255,251,100,0.75);
	background-color:transparent;
	color:black;
	font-size:0.4em;
}

.dragAnchor-hover {
	width:200px;
	height:200px;
	position:absolute;
	-moz-border-radius: 100px;
	border-radius: 100px;
	-webkit-box-shadow: 0px 0px 11px 5px rgba(255,251,100,0.75);
	-moz-box-shadow: 0px 0px 11px 5px rgba(255,251,100,0.75);
	box-shadow: 0px 0px 11px 5px rgba(255,251,100,0.75);
	color:black;
	font-size:0.4em;
	background-color:yellow;
	opacity:0.5;
}

.dragAnchor.anchored {
	background-color:yellow;
	opacity:0.5;
	text-align:left;
}

.snappedImage {
  font-family:"timesNGL";
  text-align:center;
  color:rgba(68,45,13,1);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(68,45,13,1);
  width: 550px;
  height: 550px;
  background-image: -webkit-linear-gradient(-65deg, #E6D9B1, #7A7A7A);
  margin-bottom:40px;
  margin-top:-40px;

  -webkit-transition: all 0.12s ease-in-out;
  -o-transition: all 0.12s ease-in-out;
  -moz-transition: all 0.12s ease-in-out;
  -ms-transition: all 0.12s ease-in-out;
  -kthtml-transition: all 0.12s ease-in-out;
  transition: all 0.12s ease-in-out;
}

.snappedImage.developed {
	background-image:none;
	background-color:transparent;
	color:transparent;
	
	-webkit-text-stroke-color: transparent;
	-webkit-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -ms-transition: all 0.12s ease-in-out;
    -kthtml-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}

.snappedImage.grow {
	padding-top:30px;
	width: 750px;
	height: 750px;
	
	-webkit-transition: all 0.12s ease-in-out;
    -o-transition: all 0.12s ease-in-out;
    -moz-transition: all 0.12s ease-in-out;
    -ms-transition: all 0.12s ease-in-out;
    -kthtml-transition: all 0.12s ease-in-out;
    transition: all 0.12s ease-in-out;
}

.indent {
	margin-left:15px;
	text-align:left;
}

#snap {
	/*margin-top:-74px;*/
	border:none;
	opacity:0;
}

.landscape{
	width:100%;
}

.portrait{
	height:100%;
}




/* Labels */
.nextLabel {
  height:80px;
  width:185px;
  
  /*margin:10px;
  margin-top:55px;
  margin-right:75px;*/
  font-size:0.9em;
  float:right;
}

.nextLabel.done {
	
}

#nextLabel-id-ext {
	position:absolute;
	top:1015px;
	left:750px;
}

.contentLabel {
  height:160px;
  width:610px;
  font-size:0.9em;
  float:left;
  margin-top:-40px;
  background-repeat:none;
  background-image: url('../IMAGES/howmany.png');
  background-size: 610px 160px;
}

.contentLabel.choose {
	background-image: url('../IMAGES/howmany.png');
}

.contentLabel.takePic {
	background-image: url('../IMAGES/touchnext.png');
}

.contentLabel.smile {nextLabel
	background-image: url('../IMAGES/lookinmirror.png');
}

.contentLabel.dragFace {
	background-image: url('../IMAGES/dragyofacemuthafucka.png');
}

.inputForm {
	top:200%; /* top 20% left 25% */
	left:250%;
	
	position:absolute;
    display:inline-block;

    padding-left:15px;
    padding-right:15px;
    padding-top:10px;
    padding-bottom:10px;
    background-color:black;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    
    background: rgb(234,215,171); /* Old browsers */
	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.07, rgb(234,215,171)), color-stop(0.07, rgb(234,215,171)), color-stop(0.5, rgb(90,45,19)), color-stop(0.83, rgb(158,115,79)));
	background: -webkit-linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%);
	background: -moz-linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%);
	background: -o-linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%);
	background: linear-gradient(rgb(234,215,171) 7%, rgb(234,215,171) 7%, rgb(90,45,19) 50%, rgb(158,115,79) 83%); /* FF3.6+ */ /* Chrome,Safari4+ */ /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */ /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ead7ab', endColorstr='#9e734f',GradientType=0 ); /* IE6-9 */
	
	-webkit-box-shadow: 0px 0px 14px 0px rgba(255,255,186,1);
	-moz-box-shadow: 0px 0px 14px 0px rgba(255,255,186,1);
	box-shadow: 0px 0px 14px 0px rgba(255,255,186,1);
}

input {
	font-size:16px;
	
}

input:focus {
	background-color:tan;
}

.formInterior {
	
	font-family:"timesNGL";
    background-color:rgb(197,177,151);
    font-size:24px;
    border:1px solid rgba(90,45,19,1);
    display:inline-block;
    padding:10px;
    padding-left:25px;
    padding-right:25px;
    text-align:right;
    color:rgba(68,45,13,1);
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: rgba(68,45,13,1);
    
    -webkit-box-shadow: inset 0px 0px 10px 0px     rgba(90,45,19,1);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(90,45,19,1);
    box-shadow: inset 0px 0px 10px 0px rgba(90,45,19,1);
    
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.inputIndent {
	margin-right:40px;
	width:300px;
}


/* Buttons */
.nextBtn {
  pointer-events:all;
  height:164px; /* 128 x 128 */
  width:164px;
  margin:0px;
  font-size:2.2em;
  color:#4D3A03;
  float:right;
  background-repeat:none;
  background-position:center;
  background-image:url('../IMAGES/button_UP.png');
}

.nextBtn.selected {
  background-repeat:none;
  background-position:center;
  background-image:url('../IMAGES/button_DOWN.png');
}

.numUsersBtn {
  height:320px;
  width:380px;
  margin-top:-60px;
  float:left;
  background-repeat:none;
}

.numUsersBtn.one {
  background-image:url('../IMAGES/oneperson.png');
}

.numUsersBtn.two {
  background-image:url('../IMAGES/twoperson.png');
  margin-top:-20px;
}

.numUsersBtn.three {
  background-image:url('../IMAGES/threeperson.png');
  margin-top:-33px;
}

.contentLabel-Interactive {
  pointer-events:all;
  height:95px;
  width:275px;
  font-size:0.9em;
  margin-left:270px;
  margin-top:50px;
  float:left;
  z-index:10;
}

.contentLabel-Interactive.retake {
	margin-top:105px;
	width:267px;
}

.contentLabel-Interactive.keep {
	width:436px;
	margin-left:180px;
}

.contentLabel-Interactive.email {
	width:299px;
	height:132px;
}

.contentLabel-Interactive.giftshop {
	width:282px;
	height:126px;
}